In [1]:
import os
from pathlib import Path

#list the current work dir
cwd = os.getcwd()
current_path = Path(cwd)
project_root = current_path.parent.parent

#change the current work dir
os.chdir(project_root)

In [2]:
from datetime import date, datetime,timezone
from unittest.mock import MagicMock, call, patch

import ccxt
import numpy as np
import pandas as pd
import pytz
import plotly.graph_objects as go

from trazy_analysis.common.ccxt_connector import CcxtConnector
from trazy_analysis.common.types import CandleDataFrame
from trazy_analysis.market_data.historical.ccxt_historical_data_handler import (
    CcxtHistoricalDataHandler,
)
from trazy_analysis.models.asset import Asset
from trazy_analysis.models.candle import Candle
from trazy_analysis.settings import BINANCE_API_KEY, BINANCE_API_SECRET

In [3]:
EXCHANGES_API_KEYS = {
    "BEQUANT": {
        "key": None,
        "secret": None,
        "password": None,
    }
}

In [ ]:
mongo_db_storage = MongoDbStorage()
query = {"content_key": "ccxt_avalaible_exchanges"}
mongo_db_storage

In [5]:
ccxt_connector = CcxtConnector(exchanges_api_keys=EXCHANGES_API_KEYS)
historical_data_handler = CcxtHistoricalDataHandler(ccxt_connector)
df, _, _ = historical_data_handler.request_ticker_data_in_range(
    ticker=Asset(symbol="OMG/USDT", exchange="bequant"),
    start=datetime(2021, 7, 30, 15, 23, 45, 655281, tzinfo=pytz.UTC)
)
df

                               open      high       low     close    volume
timestamp
2021-07-30 15:23:00+00:00  4.005658  4.012299  4.003256  4.004881   1435.51
2021-07-30 15:24:00+00:00  4.006344  4.016412  4.006344  4.015492   3507.87
2021-07-30 15:25:00+00:00  4.015333  4.015871  4.005408  4.013273   1400.48
2021-07-30 15:26:00+00:00  4.013786  4.015751  4.010339  4.015495  12049.53
2021-07-30 15:27:00+00:00  4.012108  4.012108  4.005928  4.007663  18901.27
...                             ...       ...       ...       ...       ...
2021-07-31 06:53:00+00:00   4.32388   4.32388   4.32388   4.32388    300.89
2021-07-31 06:54:00+00:00  4.324188  4.328148  4.323692  4.323692   5247.68
2021-07-31 06:55:00+00:00  4.324444   4.32546  4.324444   4.32546  11266.09
2021-07-31 06:56:00+00:00  4.325278  4.325278  4.319158   4.32067  11903.03
2021-07-31 06:57:00+00:00  4.323203  4.323203  4.323203  4.323203      2.89

[935 rows x 5 columns]

In [ ]:
fig = go.Figure(data=go.Ohlc(x=df.index,
                    open=df['open'],
                    high=df['high'],
                    low=df['low'],
                    close=df['close']))
fig.show()